<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags and title -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>MBAR</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />

    <!-- HTMX script for AJAX functionality -->
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>

    <!-- Tailwind CSS stylesheet -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- Custom CSS variables and classes -->
    <style>
      :root {
        --mcknight: #0073e6;
      }
      .blue {
        background-color: var(--mcknight);
      }
    </style>
  </head>
  <body class="bg-gray-100">
    <!-- Header section with navigation bar -->
    <header class="blue">
      <!-- Navigation bar -->
      <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-6"
        aria-label="Global"
      >
        <!-- MBAR Logo -->
        <div class="flex lg:flex-1">
          <a href="/mbar" class="p-1.5">
            <span class="sr-only">McKnight Brain Aging Registry</span>
            <img
              class="h-14 w-auto"
              src="images/mbar-logo.svg"
              alt=""
            />
          </a>
        </div>
        <!-- Hamburger menu for mobile view -->
        <div class="flex lg:hidden">
          <button
            type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            id="hamburger"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>
        <!-- Navigation links -->
        <div class="hidden lg:flex lg:gap-x-12">
          <a
            href="about"
            hx-get="pages/our_study.html"
            hx-push-url="about"
            hx-trigger="click"
            hx-target="#main-content"
            class="text-lg font-semibold leading-6 text-white"
            >About MBAR</a
          >
          <a
            href="resources"
            hx-get="pages/resources.html"
            hx-push-url="resources"
            hx-trigger="click"
            hx-target="#main-content"
            class="text-lg font-semibold leading-6 text-white"
            >Resources</a
          >
          <a
            href="publications"
            hx-get="pages/publications.html"
            hx-push-url="publications"
            hx-trigger="click"
            hx-target="#main-content"
            class="text-lg font-semibold leading-6 text-white"
            >Publications</a
          >
          <a
            href="about-us"
            hx-get="pages/about_us.html"
            hx-push-url="about-us"
            hx-trigger="click"
            hx-target="#main-content"
            class="text-lg font-semibold leading-6 text-white"
            >About Us</a
          >
        </div>
        <!-- Contact us link -->
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a
            href="mailto:pstew@uab.edu"
            class="font-semibold leading-6 text-white"
            aria-label="Email us for more information"
            >Contact Us <span aria-hidden="true">&rarr;</span></a
          >
        </div>
      </nav>
      <!-- Mobile menu -->
      <div
        id="mobile-menu"
        class="lg:hidden hidden"
        role="dialog"
        aria-modal="true"
      >
        <!-- Mobile menu content -->
        <div class="fixed inset-0 z-10"></div>
        <div
          class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto blue px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10"
        >
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">MBAR</span>
              <img
                class="h-12 w-auto"
                src="images/mbar-logo.svg"
                alt=""
              />
            </a>
            <button
              type="button"
              class="-m-2.5 rounded-md p-2.5 text-gray-700"
              id="close-button"
            >
              <span class="sr-only">Close menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="white"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/25">
              <div class="space-y-2 py-6">
                <a
                  href="about"
                  hx-get="pages/our_study.html"
                  hx-push-url="about"
                  hx-trigger="click"
                  hx-target="#main-content"
                  class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-white hover:bg-gray-800"
                  >About MBAR</a
                >
                <a
                  href="resources"
                  hx-get="pages/resources.html"
                  hx-push-url="resources"
                  hx-trigger="click"
                  hx-target="#main-content"
                  class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-white hover:bg-gray-800"
                  >Resources</a
                >
                <a
                  href="publications"
                  hx-get="pages/publications.html"
                  hx-push-url="publications"
                  hx-trigger="click"
                  hx-target="#main-content"
                  class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-white hover:bg-gray-800"
                  >Publications</a
                >
                <a
                  href="about-us"
                  hx-get="pages/about_us.html"
                  hx-push-url="about-us"
                  hx-trigger="click"
                  hx-target="#main-content"
                  class="-mx-3 block rounded-lg px-3 py-2 text-lg font-semibold leading-7 text-white hover:bg-gray-800"
                  >About Us</a
                >
              </div>
              <div class="py-6">
                <a
                  href="mailto:pstew@uab.edu"
                  class="-mx-3 block rounded-lg px-3 py-2.5 text-lg font-semibold leading-7 text-white hover:bg-gray-800"
                  aria-label="Email us for more information"
                  >Contact Us</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Banner image -->
    <div
      class="bg-cover bg-center w-full h-64"
      style="background-image: url('images/vintage.jpg')"
    ></div>
    <!-- Main content section -->
    <div class="bg-white py-12 sm:py-18" id="main-content">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
          class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
          <div>
            <div
              class="text-base leading-7 text-gray-700 lg:max-w-lg"
            >
              <h1
                class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
              >
                McKnight Brain Aging Registry
              </h1>
              <div class="max-w-xl">
                <p class="mt-6">
                 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt expedita quas corporis voluptatem, velit ducimus nisi ab. Sit vitae vero aspernatur fuga facere commodi dolore, a, debitis ea facilis natus.
                 Impedit commodi quis sapiente distinctio laboriosam nostrum, expedita sint cupiditate ducimus magni non ullam atque quaerat nisi voluptates obcaecati veritatis saepe praesentium perspiciatis deleniti? Facere explicabo totam numquam laudantium veniam?
                 Similique debitis ipsa nostrum molestiae error provident autem ab voluptate inventore, ut aut voluptas, explicabo veritatis cum sequi praesentium libero nobis voluptatibus accusamus beatae tempora. Asperiores, distinctio! Minima, porro optio.
              </div>
            </div>
            <!--<dl
              class="mt-10 grid grid-cols-2 gap-8 border-t border-gray-900/10 pt-10 sm:grid-cols-4"
            >
              <div>
                <dt
                  class="text-sm font-semibold leading-6 text-gray-600"
                >
                  Founded
                </dt>
                <dd
                  class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900"
                >
                  2021
                </dd>
              </div>
              <div>
                <dt
                  class="text-sm font-semibold leading-6 text-gray-600"
                >
                  Participants
                </dt>
                <dd
                  class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900"
                >
                  300
                </dd>
              </div>
              <div>
                <dt
                  class="text-sm font-semibold leading-6 text-gray-600"
                >
                  Institutes
                </dt>
                <dd
                  class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900"
                >
                  4
                </dd>
              </div>
              <div>
                <dt
                  class="text-sm font-semibold leading-6 text-gray-600"
                >
                  Datapoints
                </dt>
                <dd
                  class="mt-2 text-3xl font-bold leading-10 tracking-tight text-gray-900"
                >
                  25 <span class="text-sm">Million</span>
                </dd>
              </div>
            </dl>-->
            <div class="mt-10 flex">
              <a
                href="mailto:pstew@uab.edu"
                class="text-base font-semibold leading-7 text-blue-600"
                >Contact us about the MBAR study
                <span aria-hidden="true">&rarr;</span></a
              >
            </div>
          </div>
          <div class="lg:pl-4">
            <div
              class="relative overflow-hidden rounded-3xl bg-gray-900 px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10"
            >
              <img
                class="absolute inset-0 h-full w-full object-cover brightness-125 saturate-0"
                src="images/pickleball2.jpg"
                alt=""
              />
              <div
                class="absolute inset-0 bg-gray-400 mix-blend-multiply"
              ></div>
              <figure class="relative isolate">
                <img src="mission.svg" alt="" class="h-12 w-auto" />
                <blockquote
                  class="mt-6 text-xl font-semibold leading-8 text-white"
                >
                  <p>
                    The mission of the McKnight Brain Aging Registry
                    (MBAR) is to enhance the understanding of brain
                    aging and cognitive decline through a
                    collaborative, multidisciplinary approach.
                  </p>
                </blockquote>
                <figcaption
                  class="mt-6 text-sm leading-6 text-gray-300"
                >
                  <strong class="font-semibold text-white"
                    >&nbsp;
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer section -->
    <footer class="blue">
      <div
        class="mx-auto max-w-7xl px-6 py-8 md:flex md:items-center md:justify-between lg:px-6"
      >
        <img src="images/mcknight-logo.png" alt="McKnight Logo" />
        <div class="mt-8 md:order-1 md:mt-0">
          <p class="text-center text-xs leading-5 text-white">
            &copy; 2024 The University of Alabama at Birmingham
          </p>
        </div>
      </div>
    </footer>
    <!-- Script for menu toggling -->
    <script>
      document
        .getElementById('hamburger')
        .addEventListener('click', function () {
          document
            .getElementById('mobile-menu')
            .classList.toggle('hidden');
        });

      document
        .getElementById('close-button')
        .addEventListener('click', function () {
          document
            .getElementById('mobile-menu')
            .classList.add('hidden');
        });

      const menuLinks = document.querySelectorAll('#mobile-menu a');
      menuLinks.forEach((link) => {
        link.addEventListener('click', () => {
          document
            .getElementById('mobile-menu')
            .classList.add('hidden');
        });
      });

      document.addEventListener('DOMContentLoaded', () => {
        const dropdownButtons = document.querySelectorAll(
          'button[aria-controls]'
        );

        dropdownButtons.forEach((button) => {
          const subMenuId = button.getAttribute('aria-controls');
          const subMenu = document.getElementById(subMenuId);

          button.setAttribute('aria-expanded', 'false');
          subMenu.style.display = 'none';

          button.addEventListener('click', () => {
            const isExpanded =
              button.getAttribute('aria-expanded') === 'true';
            button.setAttribute('aria-expanded', !isExpanded);
            subMenu.style.display = isExpanded ? 'none' : 'block';
          });
        });
      });
    </script>
  </body>
</html>
